{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1,
    "semi": 2
  },
  "env": {
    "node": true,
    "es6": true
  }
}
